{% extends "template.html" %}
{% block modal_content %}
    <div id="homedir-window" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title"></span>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row p-1">
                        <div class="col-1">
                            <button class="btn btn-sm btn-light" id="dirup">
                                <img src="{{ url_for('static', filename='img/up.png') }}">
                            </button>
                        </div>
                        <div class="col-11" id="parent"></div>
                    </div>
                    <ul class="list-group list-group-flush" id="directories"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="dirsave">Сохранить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block app_content %}
<div class="row-fluid">
    <div class="col-12 p-4">
        <a class="btn btn-sm btn-light" href="{{ url_for('proftpd.users') }}">
            <img src="{{ url_for('static', filename='img/back.png') }}"> Назад
        </a>
    </div>
</div>

<div class="row">
    <div class="col-10 offset-1 mt-3">
        <form action="" method="post" class="needs-validation">
            {{ form.hidden_tag() }}

            <div class="form-group row">
                {{ form.userid.label(class="form-control-label col-form-label-sm col-sm-2") }}
                <div class="col-sm-8">
                    {{ form.userid(class="form-control form-control-sm") }}
                    {% if form.userid.errors %}
                        <p class="alert alert-warning">
                            {% for error in form.userid.errors %} {{ error }} {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                {{ form.passwd.label(class="form-control-label col-form-label-sm col-sm-2") }}
                <div class="col-sm-8">
                    {{ form.passwd(class="form-control form-control-sm") }}
                    {% if form.passwd.errors %}
                        <p class="alert alert-warning">
                            {% for error in form.passwd.errors %} {{ error }} {% endfor %}
                        </p>
                    {% endif %}
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-sm" type="button" id="randompassword">
                        <img src="{{ url_for('static', filename='img/random.png') }}">
                    </button>
                </div>
            </div>

            <div class="form-group row">
                {{ form.uid.label(class="form-control-label col-form-label-sm col-sm-2") }}
                <div class="col-sm-3">
                    {{ form.uid(class="form-control form-control-sm") }}
                    {% if form.uid.errors %}
                        <p class="alert alert-warning">
                            {% for error in form.uid.errors %} {{ error }} {% endfor %}
                        </p>
                    {% endif %}
                </div>

                {{ form.gid.label(class="form-control-label col-form-label-sm col-sm-2") }}
                <div class="col-sm-3">
                    {{ form.gid(class="form-control form-control-sm") }}
                    {% if form.gid.errors %}
                        <p class="alert alert-warning">
                            {% for error in form.gid.errors %} {{ error }} {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                {{ form.homedir.label(class="form-control-label col-form-label-sm col-sm-2") }}
                <div class="col-sm-8">
                    {{ form.homedir(class="form-control form-control-sm") }}
                    {% if form.homedir.errors %}
                        <p class="alert alert-warning">
                            {% for error in form.homedir.errors %} {{ error }} {% endfor %}
                        </p>
                    {% endif %}
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-sm" type="button" data-toggle="modal" data-target="#homedir-window">
                        <img src="{{ url_for('static', filename='img/dir.png') }}">
                    </button>
                </div>
            </div>

            <div class="form-group row">
                {{ form.shell.label(class="form-control-label col-form-label-sm col-sm-2") }}
                <div class="col-sm-8">
                    {{ form.shell(class="form-control form-control-sm") }}
                    {% if form.shell.errors %}
                        <p class="alert alert-warning">
                            {% for error in form.shell.errors %} {{ error }} {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12 text-center">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/proftpd.js') }}"></script>
{% endblock %}