{% extends "template.html" %}
{% block app_content %}
<div class="row-fluid">
    <div class="col-12 p-4">
        <a class="btn btn-sm btn-light" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/back.png') }}"> Назад
        </a>
        <a class="btn btn-sm btn-light" href="{{ url_for('proftpd.users_add') }}">
            <img src="{{ url_for('static', filename='img/add.png') }}"> Создать аккаунт
        </a>
    </div>
</div>
<div class="row-fluid">
    <div class="col-12 p-4">
        <table class="table table-sm table-hover border border-dark">
            <thead class="thead-dark">
                <tr>
                    <th> Логин </th>
                    <th> UID </th>
                    <th> GID </th>
                    <th> Домашний каталог</th>
                    <th> </th>
                </tr>
            </thead>
            {% for user in users %}
            <tbody>
                <tr>
                    <td>{{ user.userid }}</td>
                    <td>{{ user.uid }}</td>
                    <td>{{ user.gid }}</td>
                    <td>{{ user.homedir }}</td>
                    <td>
                        <a class="btn btn-sm btn-light" href="{{ url_for('proftpd.users_del', userid=user.userid) }}" onclick='return confirm("Удалить аккаунт {{ user.userid }} ?")'>
                            <img src="{{ url_for('static', filename='img/delete.png') }}" title="Удалить">
                        </a>
                        <a class="btn btn-sm btn-light" href="{{ url_for('proftpd.users_edit', userid=user.userid) }}">
                            <img src="{{ url_for('static', filename='img/edit.png') }}" title="Редактировать">
                        </a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}