{% extends "template.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="row-fluid">
    <div class="col-12 p-4">
        <a class="btn btn-sm btn-light" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/back.png') }}"> Назад
        </a>
    </div>
</div>
<div class="row-fluid">
    <div class="col-12">
        {{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('sm', 3, 9)) }}
    </div>
</div>
{% endblock %}